@font-face {
    font-family: 'segoeui';
    src: url('../font/segoe-ui.eot');
    src: url('../font/segoe-ui.eot?#iefix') format('embedded-opentype'), url('../font/segoe-ui.woff') format('woff'), url('../font/segoe-ui.ttf') format('truetype'), url('../font/segoe-ui.svg#segoe-ui') format('svg');
}

@base-color: #2d89ef;
@base-color: #338559;
@base-color: #007acc;
/*@base-color: white;*/
@header-height: 46px;
@sideleft-width: 220px;

body {
    font-family: "segoeui";
    margin: 0;
    // DISABLED STATE
    // --------------
    // Disabled and read-only inputs
    input[disabled],
    select[disabled],
    textarea[disabled],
    input[readonly],
    select[readonly],
    textarea[readonly] {
        cursor: not-allowed;
        background-color: lighten(lightgray, 10%);
    }
    // Explicitly reset the colors here
    input[type="radio"][disabled],
    input[type="checkbox"][disabled],
    input[type="radio"][readonly],
    input[type="checkbox"][readonly] {
        background-color: transparent;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #999;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #999;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #999;
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #999;
    }
}

.page {
    min-width: 480px;

    .modules {
        display: none;
        background-color: darken(@base-color, 10%);
        padding: 20px 20px;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 100;

        .menu {
            height: 120px;
            width: 128px;
            margin: 0 18px 0 0;
            display: inline-block;
            cursor: pointer;
            background-color: lighten(@base-color, 10px);
            border: 2px solid darken(@base-color, 10px);
            background-image: url("../img/icon/modules/box-128.png");
            background-position: 0 -8px;

            label {
                color: white;
                display: inline-block;
                font-size: 16px;
                font-weight: normal;
                position: relative;
                text-align: center;
                top: 90px;
                width: 100%;
            }

            &:hover {
                background-color: lighten(@base-color, 20px);
                border: 2px solid darken(@base-color, 5px);
            }

            &.metro {
                background-image: url("../img/icon/modules/metro-128.png");
                background-position: 0 -8px;
            }

            &.dashboard {
                background-image: url("../img/icon/modules/dashboard-128.png");
                background-position: 0 -8px;
            }

            &.master {
                background-image: url("../img/icon/modules/master-128.png");
                background-position: 0 -8px;
            }

            &.admin {
                background-image: url("../img/icon/modules/admin-128.png");
                background-position: 0 -8px;
            }

            &.grid {
                background-image: url("../img/icon/modules/grid-128.png");
                background-position: 0 -8px;
            }
        }
    }

    .header {
        height: @header-height;
        background-color: @base-color;

        div {
            float: left;
        }

        .brand {
            height: @header-height;
            width: @sideleft-width;
            background-color: darken(@base-color, 10%);
            background-position: 0 -3px;
            background-repeat: no-repeat;
            background-image: url("../img/icon/modules/box-48.png");

            &.metro {
                background-image: url("../img/icon/modules/metro-48.png");
            }

            &.dashboard {
                background-image: url("../img/icon/modules/dashboard-48.png");
            }

            &.master {
                background-image: url("../img/icon/modules/master-48.png");
            }

            &.admin {
                background-image: url("../img/icon/modules/admin-48.png");
            }

            &.grid {
                background-image: url("../img/icon/modules/grid-48.png");
            }

            .title {
                margin: 12px 10px;
                font-size: 20px;
                color: white;
                padding-left: 40px;
                max-width: 168px;
            }

            .separator {
                height: 24px;
                width: 1px;
                margin: 12px 0 auto;
                background-color: white;
            }

            .navigation {
                height: @header-height;
                background-image: url("../img/icon/arrow-head-down-24.png");
                background-position: 1px 10px;
                background-repeat: no-repeat;
                width: 28px;
                cursor: pointer;

                &:hover {
                    background-color: darken(@base-color, 5%);
                }
            }
        }

        .module {
            height: @header-height;
            width: auto;
            padding: 0 10px;
            color: white;

            .title {
                height: 100%;
                padding: 12px 6px;
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    background-color: darken(@base-color, 10%);
                }
            }

            .separator {
                height: 24px;
                width: 1px;
                margin: 12px 0 auto;
                background-color: white;
            }

            .nav-module {
                height: @header-height;
                background-image: url("../img/icon/arrowhead-down-24.png");
                background-position: 2px 10px;
                background-repeat: no-repeat;
                width: 30px;
                cursor: pointer;

                &:hover {
                    background-color: darken(@base-color, 10%);
                }
            }
        }

        .toolbar {
            height: @header-height;
            line-height: @header-height;
            width: auto;
            padding: 0;
            margin-left: -10px;
            color: white;

            >div {
                margin-right: 0;
                padding: 0 10px;
                display: none;

                &:hover {
                    background-color: darken(@base-color, 10%);
                    cursor: pointer;
                }

                &.add-new {
                    background-image: url("../img/icon/add-new-32.png");
                    background-position: 8px 6px;
                    padding-left: 44px;
                    background-repeat: no-repeat;
                }

                &.edit {
                    background-image: url("../img/icon/edit-32.png");
                    background-position: 8px 6px;
                    padding-left: 44px;
                    background-repeat: no-repeat;
                }

                &.save {
                    background-image: url("../img/icon/save-32.png");
                    background-position: 8px 6px;
                    padding-left: 44px;
                    background-repeat: no-repeat;
                }

                &.cancel {
                    background-image: url("../img/icon/cancel-32.png");
                    background-position: 8px 6px;
                    padding-left: 44px;
                    background-repeat: no-repeat;
                }

                &.upload {
                    background-image: url("../img/icon/upload-32.png");
                    background-position: 8px 6px;
                    padding-left: 44px;
                    background-repeat: no-repeat;
                }

                &.download {
                    background-image: url("../img/icon/download-32.png");
                    background-position: 8px 6px;
                    padding-left: 44px;
                    background-repeat: no-repeat;
                }

                &.delete {
                    background-image: url("../img/icon/delete-32.png");
                    background-position: 8px 6px;
                    padding-left: 44px;
                    background-repeat: no-repeat;
                }

                &.clear {
                    background-image: url("../img/icon/clear-32.png");
                    background-position: 8px 6px;
                    padding-left: 44px;
                    background-repeat: no-repeat;
                }
            }
        }

        .profile {
            height: @header-height;
            line-height: @header-height;
            width: auto;
            padding: 0;
            margin-right: 10px;
            color: white;
            float: right;

            >div {
                margin-right: 0;
                padding: 0 10px;

                &:hover {
                    background-color: darken(@base-color, 10%);
                    cursor: pointer;
                }

                &.settings {
                    background-image: url("../img/icon/settings-32.png");
                    background-position: 0 6px;
                    padding-left: 18px;
                    background-repeat: no-repeat;
                }

                &.userinfo {
                    background-image: url("../img/icon/profile-32.png");
                    background-position: 8px 6px;
                    padding-left: 44px;
                    background-repeat: no-repeat;
                }
            }
        }

        .panel {
            position: absolute;
            right: 20px;
            top: @header-height;
            border: 2px solid @base-color;
            border-top: none;
            background-color: white;
            color: @base-color;
            padding: 0;
            z-index: 50;
            display: none;

            &.show {
                display: block;
            }

            > div {
                padding: 6px 0;
                margin: 0;

                > div {
                    padding: 0;
                    margin: 0;
                    display: block;
                    float: none;
                    min-width: 180px;
                    padding: 0;

                    &:hover {
                        background-color: lighten(@base-color, 0);
                        color: white;

                        a {
                            color: white;
                        }
                    }

                    a {
                        display: inline-block;
                        padding: 6px 12px;
                        text-decoration: none;
                        width: 100%;
                        color: darken(@base-color, 10%);
                    }
                }
            }
        }
    }

    .body {
        .leftpanel {
            height: 100%;
            width: @sideleft-width;
            background-color: lighten(@base-color, 30%);
            float: left;

            .leftmenu {
                padding-top: 40px;

                ul {
                    @menu-color: lighten(@base-color, 5%);
                    border-top: 6px solid @menu-color;
                    border-bottom: 6px solid @menu-color;

                    li {
                        background-color: @menu-color;

                        label {
                            display: inline-block;
                            margin-bottom: 2px;
                            padding: 5px 12px;
                            width: 100%;
                            color: lighten(@base-color, 80%);
                            text-decoration: none;
                        }

                        &.selected {
                            background-color: lighten(@base-color, 80%);

                            label {
                                color: darken(@base-color, 10%);
                                cursor: default;
                            }
                        }

                        &:hover {
                            background-color: lighten(@base-color, 30%);

                            &.selected {
                                background-color: lighten(@base-color, 80%);
                            }

                            label {
                                color: darken(@base-color, 25%);
                            }
                        }

                        &.l1 {
                            font-size: 13px;
                            padding-left: 12px;
                        }
                    }
                }
            }
        }

        .mainpanel {
            margin-left: @sideleft-width;
            height: 100%;
            overflow: auto;
            padding: 0 0 0 15px;

            .maincontent {
                margin-top: 10px;
                padding-right: 10px;
            }
        }
    }
}
