@font-face {
  font-family: 'segoeui';
  src: url('../font/segoe-ui.eot');
  src: url('../font/segoe-ui.eot?#iefix') format('embedded-opentype'), url('../font/segoe-ui.woff') format('woff'), url('../font/segoe-ui.ttf') format('truetype'), url('../font/segoe-ui.svg#segoe-ui') format('svg');
}
/*@base-color: white;*/
body {
  font-family: "segoeui";
  margin: 0;
}
body input[disabled],
body select[disabled],
body textarea[disabled],
body input[readonly],
body select[readonly],
body textarea[readonly] {
  cursor: not-allowed;
  background-color: #ececec;
}
body input[type="radio"][disabled],
body input[type="checkbox"][disabled],
body input[type="radio"][readonly],
body input[type="checkbox"][readonly] {
  background-color: transparent;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #999;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #999;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #999;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #999;
}
.page {
  min-width: 480px;
}
.page .modules {
  display: none;
  background-color: #005b99;
  padding: 20px 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}
.page .modules .menu {
  height: 120px;
  width: 128px;
  margin: 0 18px 0 0;
  display: inline-block;
  cursor: pointer;
  background-color: #0098ff;
  border: 2px solid #005b99;
  background-image: url("../img/icon/modules/box-128.png");
  background-position: 0 -8px;
}
.page .modules .menu label {
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  text-align: center;
  top: 90px;
  width: 100%;
}
.page .modules .menu:hover {
  background-color: #33adff;
  border: 2px solid #006bb3;
}
.page .modules .menu.metro {
  background-image: url("../img/icon/modules/metro-128.png");
  background-position: 0 -8px;
}
.page .modules .menu.dashboard {
  background-image: url("../img/icon/modules/dashboard-128.png");
  background-position: 0 -8px;
}
.page .modules .menu.master {
  background-image: url("../img/icon/modules/master-128.png");
  background-position: 0 -8px;
}
.page .modules .menu.admin {
  background-image: url("../img/icon/modules/admin-128.png");
  background-position: 0 -8px;
}
.page .header {
  height: 46px;
  background-color: #007acc;
}
.page .header div {
  float: left;
}
.page .header .brand {
  height: 46px;
  width: 220px;
  background-color: #005b99;
  background-position: 0 -3px;
  background-repeat: no-repeat;
  background-image: url("../img/icon/modules/box-48.png");
}
.page .header .brand.metro {
  background-image: url("../img/icon/modules/metro-48.png");
}
.page .header .brand.dashboard {
  background-image: url("../img/icon/modules/dashboard-48.png");
}
.page .header .brand.master {
  background-image: url("../img/icon/modules/master-48.png");
}
.page .header .brand.admin {
  background-image: url("../img/icon/modules/admin-48.png");
}
.page .header .brand .title {
  margin: 12px 10px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  max-width: 168px;
}
.page .header .brand .separator {
  height: 24px;
  width: 1px;
  margin: 12px 0 auto;
  background-color: white;
}
.page .header .brand .navigation {
  height: 46px;
  background-image: url("../img/icon/arrow-head-down-24.png");
  background-position: 1px 10px;
  background-repeat: no-repeat;
  width: 28px;
  cursor: pointer;
}
.page .header .brand .navigation:hover {
  background-color: #006bb3;
}
.page .header .module {
  height: 46px;
  width: auto;
  padding: 0 10px;
  color: white;
}
.page .header .module .title {
  height: 100%;
  padding: 12px 6px;
  font-size: 20px;
  cursor: pointer;
}
.page .header .module .title:hover {
  background-color: #005b99;
}
.page .header .module .separator {
  height: 24px;
  width: 1px;
  margin: 12px 0 auto;
  background-color: white;
}
.page .header .module .nav-module {
  height: 46px;
  background-image: url("../img/icon/arrowhead-down-24.png");
  background-position: 2px 10px;
  background-repeat: no-repeat;
  width: 30px;
  cursor: pointer;
}
.page .header .module .nav-module:hover {
  background-color: #005b99;
}
.page .header .toolbar {
  height: 46px;
  line-height: 46px;
  width: auto;
  padding: 0;
  margin-left: -10px;
  color: white;
}
.page .header .toolbar > div {
  margin-right: 0;
  padding: 0 10px;
  display: none;
}
.page .header .toolbar > div:hover {
  background-color: #005b99;
  cursor: pointer;
}
.page .header .toolbar > div.add-new {
  background-image: url("../img/icon/add-new-32.png");
  background-position: 8px 6px;
  padding-left: 44px;
  background-repeat: no-repeat;
}
.page .header .toolbar > div.edit {
  background-image: url("../img/icon/edit-32.png");
  background-position: 8px 6px;
  padding-left: 44px;
  background-repeat: no-repeat;
}
.page .header .toolbar > div.save {
  background-image: url("../img/icon/save-32.png");
  background-position: 8px 6px;
  padding-left: 44px;
  background-repeat: no-repeat;
}
.page .header .toolbar > div.cancel {
  background-image: url("../img/icon/cancel-32.png");
  background-position: 8px 6px;
  padding-left: 44px;
  background-repeat: no-repeat;
}
.page .header .toolbar > div.upload {
  background-image: url("../img/icon/upload-32.png");
  background-position: 8px 6px;
  padding-left: 44px;
  background-repeat: no-repeat;
}
.page .header .toolbar > div.download {
  background-image: url("../img/icon/download-32.png");
  background-position: 8px 6px;
  padding-left: 44px;
  background-repeat: no-repeat;
}
.page .header .toolbar > div.delete {
  background-image: url("../img/icon/delete-32.png");
  background-position: 8px 6px;
  padding-left: 44px;
  background-repeat: no-repeat;
}
.page .header .toolbar > div.clear {
  background-image: url("../img/icon/clear-32.png");
  background-position: 8px 6px;
  padding-left: 44px;
  background-repeat: no-repeat;
}
.page .header .profile {
  height: 46px;
  line-height: 46px;
  width: auto;
  padding: 0;
  margin-right: 10px;
  color: white;
  float: right;
}
.page .header .profile > div {
  margin-right: 0;
  padding: 0 10px;
}
.page .header .profile > div:hover {
  background-color: #005b99;
  cursor: pointer;
}
.page .header .profile > div.settings {
  background-image: url("../img/icon/settings-32.png");
  background-position: 0 6px;
  padding-left: 18px;
  background-repeat: no-repeat;
}
.page .header .profile > div.userinfo {
  background-image: url("../img/icon/profile-32.png");
  background-position: 8px 6px;
  padding-left: 44px;
  background-repeat: no-repeat;
}
.page .header .panel {
  position: absolute;
  right: 20px;
  top: 46px;
  border: 2px solid #007acc;
  border-top: none;
  background-color: white;
  color: #007acc;
  padding: 0;
  z-index: 50;
  display: none;
}
.page .header .panel.show {
  display: block;
}
.page .header .panel > div {
  padding: 6px 0;
  margin: 0;
}
.page .header .panel > div > div {
  margin: 0;
  display: block;
  float: none;
  min-width: 180px;
  padding: 0;
}
.page .header .panel > div > div:hover {
  background-color: #007acc;
  color: white;
}
.page .header .panel > div > div:hover a {
  color: white;
}
.page .header .panel > div > div a {
  display: inline-block;
  padding: 6px 12px;
  text-decoration: none;
  width: 100%;
  color: #005b99;
}
.page .body .leftpanel {
  height: 100%;
  width: 220px;
  background-color: #66c1ff;
  float: left;
}
.page .body .leftpanel .leftmenu {
  padding-top: 40px;
}
.page .body .leftpanel .leftmenu ul {
  border-top: 6px solid #0089e6;
  border-bottom: 6px solid #0089e6;
}
.page .body .leftpanel .leftmenu ul li {
  background-color: #0089e6;
}
.page .body .leftpanel .leftmenu ul li label {
  display: inline-block;
  margin-bottom: 2px;
  padding: 5px 12px;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}
.page .body .leftpanel .leftmenu ul li.selected {
  background-color: #ffffff;
}
.page .body .leftpanel .leftmenu ul li.selected label {
  color: #005b99;
  cursor: default;
}
.page .body .leftpanel .leftmenu ul li:hover {
  background-color: #66c1ff;
}
.page .body .leftpanel .leftmenu ul li:hover.selected {
  background-color: #ffffff;
}
.page .body .leftpanel .leftmenu ul li:hover label {
  color: #002e4d;
}
.page .body .leftpanel .leftmenu ul li.l1 {
  font-size: 13px;
  padding-left: 12px;
}
.page .body .mainpanel {
  margin-left: 220px;
  height: 100%;
  overflow: auto;
  padding: 0 0 0 15px;
}
.page .body .mainpanel .maincontent {
  margin-top: 10px;
  padding-right: 10px;
}
