@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index</title>
    <link href="~/assets/css/vendor/foundation.css" rel="stylesheet" />
    <link href="~/assets/css/gelang.min.css" rel="stylesheet" />
    <script src="~/assets/js/vendors/modernizr.js"></script>
</head>
<body>
    <script src="~/assets/js/vendors/jquery-2.0.3.js" type="text/javascript"></script>
    <script src="~/assets/js/vendors/jquery.ui.core.js"></script>
    <script src="~/assets/js/vendors/jquery.ui.widget.js"></script>
    <script src="~/assets/js/vendors/jquery.ui.button.js"></script>
    <script src="~/assets/js/vendors/jquery.ui.spinner.js"></script>
    <script src="~/assets/js/vendors/jquery.ui.datepicker.js"></script>
    <script src="~/assets/js/gelang.min.js"></script>
    <script src="~/assets/js/gelang.widget.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GeLang.baseUrl = "@Url.Content("~/")";

            var options = {
                toolbars: [
                    { name: "add-new", text: "Create" },
                    { name: "edit", text: "Edit" },
                    { name: "save", text: "Save" },
                    { name: "cancel", text: "Cancel" },
                    { name: "upload", text: "Upload" },
                    { name: "download", text: "Download" },
                    { name: "clear", text: "Clear" },
                ],
                modules: [
                    {
                        name: "dashboard", text: "Dashboard", cls: "dashboard", menus: [
                            { name: "dashboard1", text: "Dasboard 001" },
                        ]
                    },
                    {
                        name: "forms", text: "Form", cls: "master", menus: [
                            { name: "contact", text: "Contact Form" },
                            { name: "feedback", text: "Feedback Form" },
                            { name: "register", text: "Registration Form" },
                            { name: "invoice", text: "Invoice Form" },
                        ]
                    },
                    {
                        name: "tmpl", text: "Template", cls: "metro", menus: [
                            { name: "regis1", text: "Registration 001" },
                            { name: "regis2", text: "Registration 002" },
                            { name: "receipt", text: "Kwitansi" },
                            { name: "arbkt", text: "Bank Kas Terima" },
                        ]
                    },
                    { name: "module_a", text: "Module A" },
                    {
                        name: "module_b", text: "Module B", menus: [
                            { name: "modb_menu_a", text: "Module B Menu A" },
                            { name: "modb_menu_b", text: "Module B Menu B" },
                            { name: "modb_menu_c", text: "Module B Menu C" },
                            { name: "modb_menu_d", text: "Module B Menu D" },
                            { name: "modb_menu_e", text: "Module B Menu E" },
                        ]
                    },
                    {
                        name: "admin", text: "Admin", cls: "admin", menus: [
                            { name: "user", text: "User" },
                            { name: "role", text: "Role" },
                        ]
                    },
                ],
            }

            var layout = new GeLang.Layout(options);
            layout.render();
        });
    </script>
</body>
</html>
